@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;


.terminal {
  background: linear-gradient(
    150deg,
    rgba(1, 22, 39, 0.95) 0%,
    rgba(2, 26, 48, 0.85) 100%
  );
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #A9B1D6;
  padding: 2rem 0;
  
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 90px;
    max-width: 1540px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .intro-text {
      color: #fff;
      font-size: 0.9rem;
      margin-bottom: 0.2rem;
    }

    .name {
      font-size: 2.8rem;
      margin: 0.2rem 0;
      font-weight: 500;
      color: #fff;
    }

    .title {
      color: #4D5BCE;
      margin-bottom: 0.8rem;
      font-size: 0.9rem;
    }

    .contact-info {
      background: rgba(1, 22, 39, 0.75);
      padding: 0.8rem 1.5rem;
      border-radius: 12px;
      backdrop-filter: blur(8px);
      width: 100%;
      max-width: 700px;
      
      .comment {
        color: #607B96;
        margin-top: 0.2rem;
        font-size: 0.85rem;
      }

      .const {
        margin: 0.2rem 0;
        font-family: 'Fira Code', monospace;
        font-size: 0.85rem;

        &::before {
          content: "const ";
          color: #4D5BCE;
        }

        color: #43D9AD;

        & + p {
          color: #c0a93e;
          font-size: 1rem;
        }
      }
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    .left-social, .right-social {
      a {
        color: #607B96;
        font-size: 1.5rem;
        transition: color 0.3s ease;
        
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.terminal_content {
  margin-top: 800px !important;
  padding: 2rem;
  width: 100%;
  max-width: 800px;
}