@use 'variables' as *;
@use 'mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  background: linear-gradient(
    150deg,
    #011627 0%,        // codeSTACKr ana arka plan
    #010D18 100%       // Daha koyu ton
  );
  color: $text-color;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
